@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

.container {
    margin: 0 auto;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8A8E94;
}
.input {
    background: #F8F8F8;
    border-radius: 4px;
    padding: 18px;
    border: none;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}
.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
input:focus {
    outline: none !important;
}

.option-first {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 32px;
    padding-bottom: 32px;
}

.option-first__container {
    min-width: calc(586px + 32px);
    padding-right: 16px;
    padding-left: 16px;
}
@media screen and (max-width: 767px) {
    .option-first__container {
        min-width: 100%;
    }
}

.option-first__title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 40px;
}

.option-first__form {
    display: flex;
    flex-direction: column;
}

.option-first__name {
    display: flex;
    margin-bottom: 16px;
}



.form__label {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 6px;
}

.form__input:hover {
    background: #EDF9F5;
}

.form__input:focus {
    box-shadow: 0px 0px 0px 1px #59D4AD;
}


.option-first__name .form__label:first-of-type {
    margin-right: 16px;
}

.option-first__phone {
    margin-bottom: 16px;
}
.option-first__country {
    margin-bottom: 16px;
}
.option-first__city {
    display: flex;
    margin-bottom: 40px;
}
.option-first__city .form__label:first-of-type {
    margin-right: 16px;
}

.gender {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.gender__wrp {  
    display: flex;
    transform: translateX(-5px);
}

.gender__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #8A8E94;
    margin-bottom: 16px;
}
.gender__radio:not(:last-child) {
    margin-right: 40px;
}

.option-first__notify {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .option-first__name {
        display: flex;
        flex-direction: column;
    }
    .option-first__name .form__label:first-of-type {
        margin-right: 0px;
    }
    .option-first__city {
        flex-direction: column;
    }
    .option-first__city .form__label:first-of-type {
        margin-right: 0px;
    }
    
}

.message {
    width: calc(100% - 208px);
    padding-bottom: 24px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 24px;
}
@media screen and (max-width: 500px) {
    .message {
        min-width: 100%;
    }
}

.message__wrp {
    transform: translateX(-5px);
    display: flex;
    flex-direction: column;
}

.message__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #8A8E94;
    margin-bottom: 16px;
}

.message__radio {
    margin-bottom: 16px;
}

.radio__item {
    transition: all 0.3s ease 0s;
    border-radius: 4px;
    padding: 6px 8px 7px 32px;
}

.radio__input:focus + .radio__item{
    box-shadow: 0px 0px 0px 1px  #59D4AD;
}

.radio__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}
.radio__input:focus + .radio__item::before {
    border: 1.16667px solid #000000;
}
.radio__input:checked + .radio__item::before {
    border: 1.16667px solid #000000;
}
.radio__input:checked + .radio__item::after {
    transform: scale(1)  translateY(-50%);
}

.radio__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    gap: 10px;
}

.radio__item::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    left: 6px;
    flex: 0 0 14px;
    border-radius: 50%;
    border: 1.16667px solid #C4C4C4;
}
.radio__item::after {
    content: "";
    transition: all 0.3s ease 0s;
    top: 50%;
    transform: scale(0) translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 9.5px;
    
}

.radio__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0F0F0F;
    transition: all 0.3s ease 0s;
}
.radio__text:hover {
    color: #59D4AD;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.checkbox__icon {
    width: 14px;
    height: 14px;
    font-size: 12px;
    background: inherit;
    border-radius:3px;
    border: 1px solid #a7a9ac;
    padding: 2px;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon{
    background: #000;
    border: 1px solid #000;
}


.checkbox__text {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0F0F0F;
}

.option-first__button {
    background: #59D5AD;
    border: none;

}
.option-first__button:hover {
    background: #48C09A;
}
.option-first__button:focus {
    box-shadow: 0px 0px 0px 1px #000000;
    background-color: #59D5AD;;
}
.button {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

